@import "../styles/variables";

.hero {
  padding-top: 120px;
  min-height: 100vh;
  background-color: $white;
  padding-left: 12px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 3px;
    height: 100%;
    background-color: $black;
  }
  &::before {
    content: "";
    position: absolute;
    top: 60%;
    right: 57px;
    transform: translateY(-50%);
    width: 3px;
    height: 50%;
    background-color: $black;
  }
  &__title-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 24px;
    font-size: clamp(48px, 10vw, 128px);
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2.2px;
  }
}

.sliding-box {
  position: relative;
  display: inline-flex;
  height: 1.1em;
  overflow: hidden;
  vertical-align: top;

  .word {
    display: block;
    white-space: nowrap;

    &.gray {
      color: #ccc;
    }
    &.highlight {
      color: $pink;
    }
  }
}

.static-box {
  display: inline-block;
  position: relative;
  z-index: 2;
  .bold {
    color: $black;
  }
}

@media (max-width: 500px) {
  .hero {
    &::after,
    &::before {
      display: none;
    }
    &__title-wrapper {
      font-size: 44px !important;
    }
  }
}
