@import "./variables";

.info {
  border-top: 2px solid $black;
  background-color: #fff;
  .info-table {
    display: flex;
    width: 100%;
    margin: 0 auto;
    &__left {
      flex: 0 0 45%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #999;
    }
    &__right {
      flex: 1;
      padding: 30px 20px 30px 40px;
    }
  }
  .left-top {
    display: flex;
    border-bottom: 1px solid #999;
    .title-box {
      flex: 0 0 40%;
      border-right: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      h2 {
        font-size: 48px;
        font-weight: 800;
        letter-spacing: -0.03em;
      }
    }

    .contact-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 30px 40px;
      p {
        font-size: 16px;
        color: #111;
        font-weight: 400;
      }
    }
  }
  .left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 55%;
      flex: 0 0 55%;
      padding: 40px 20px;
    }
    > ul {
      border-left: 1px solid #999;
      width: 45%;
      flex: 0 0 45%;
      padding: 40px 20px;
      text-align: right;
      li {
        & + li {
          margin-top: 8px;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 1.8;
      color: #111;
      font-weight: 400;
      word-break: keep-all;
    }
  }
  .career-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .career-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .company {
          font-size: 16px;
          color: #111;
          font-weight: 500;
        }
        .period {
          font-size: 16px;
          color: #111;
          font-weight: 400;
        }
      }
      .career-role {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        text-align: right;
        .dept,
        .role {
          font-size: 14px;
          color: #333;
          font-weight: 400;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .info-table {
      flex-direction: column;
      &__left {
        border-right: none;
        border-bottom: 1px solid #999;
      }
      &__right {
        padding: 30px 20px 30px 40px;
      }
    }
    .left-top {
      flex-direction: column;
      .title-box {
        border-right: none;
        border-bottom: 1px solid #999;
      }
    }
    .left-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      > div {
        width: 100%;
        flex: 1;
      }
      > ul {
        border-left: 0;
        border-top: 1px solid #999;
        width: 100%;
        flex: 1;
        text-align: left;
      }
    }
  }
}
